In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import warnings
warnings.filterwarnings('ignore')

In [11]:
gold = pd.read_csv('silver.csv')

NameError: name 'pd' is not defined

In [3]:
from prophet import Prophet

In [4]:
gold

           Date   price
0      21/04/22  24.645
1      20/04/22  25.200
2      19/04/22  25.915
3      14/04/22  25.655
4      13/04/22  25.640
...         ...     ...
13731  08/01/68   2.163
13732  05/01/68   2.157
13733  04/01/68   2.171
13734  03/01/68   2.225
13735  02/01/68   2.173

[13736 rows x 2 columns]

In [5]:
gold.columns = ["ds","y"]

In [6]:
model = Prophet()
model.fit(gold)

14:34:56 - cmdstanpy - INFO - Chain [1] start processing
14:35:01 - cmdstanpy - INFO - Chain [1] done processing

In [7]:
future = model.make_future_dataframe(periods= 365, freq='d')
future

              ds
0     1974-01-02
1     1974-01-03
2     1974-01-04
3     1974-01-05
4     1974-01-07
...          ...
14077 2074-12-27
14078 2074-12-28
14079 2074-12-29
14080 2074-12-30
14081 2074-12-31

[14082 rows x 1 columns]

In [8]:
input_data = pd.DataFrame({'ds': ['2023-01-21']})
input_data

           ds
0  2023-01-21

In [9]:
forecast = model.predict(input_data)

In [10]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-01-21,17.70454,14.061731,22.010165,17.70454,17.70454,0.321973,0.321973,0.321973,0.050605,0.050605,0.050605,0.271368,0.271368,0.271368,0.0,0.0,0.0,18.026514

In [11]:
import pickle

In [12]:
with open("silver_model", "wb") as f:
    pickle.dump(model, f)